# Config file .coveragerc

language: python
python:
  - "2.7"

[report]
include =
    */odoo-chile/l10n_cl_partner_activities/*

omit =
    */scenario/*
    */scenarios/*
    */test/*
    */tests/*
    *__init__.py
    *__openerp__.py

# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    # Don't complain about null context checking
    if context is None:
